body {
    background-color: rgb(151, 33, 145);
  }

h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(216, 198, 198);
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
  }
  

p {
    font-size: 30px;
  }

.formatText {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
  }

  #map { 
    height: 600px; 
    width: 75%;
}